# --- Dossiers de compilation (Le plus important) ---
build/
.cmake/

# --- Artefacts micro-ROS / ROS 2 ---
built_packages/
available_ros2_types
microros_static_library/library_generation/

# --- Binaires et fichiers de sortie Pico ---
*.elf
*.bin
*.uf2
*.hex
*.map
*.dis

# --- Fichiers objets et bibliothèques statiques ---
*.o
*.obj
*.a
*.la
*.lo

# --- Fichiers générés par PIO (Programmable I/O) ---
# Ces fichiers sont recréés à chaque compilation
*.pio.h

# --- Configuration de l'éditeur (VS Code) ---
.vscode/
!.vscode/extensions.json
.history/
*.code-workspace

# --- Fichiers système et temporaires ---
.DS_Store
Thumbs.db
*~
*.swp
*.patch
*.diff